{% extends 'base.html' %}

{% block content %}
    <div class="section">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Build your drink</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group list-categories">
                    {% for category in categories %}
                    <a href="#" data-catid="{{ category.id }}" class="list-group-item{% if forloop.first %} active{% endif %}">
                        <span class="badge">{{ category.num_children }}</span>
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                {% for category in categories %}
                <div class="list-group list-items{% if not forloop.first %} hide{% endif %}" data-catid="{{ category.id }}">
                    {% for ingredient in category.children %}
                    <a href="#" class="list-group-item{% if not ingredient.enabled %} disabled{% endif %}">
                        <div class="media">
                            <span class="media-left media-middle ingredient-logo">
                                <img src="{{ ingredient.logo.url }}" />
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading">{{ ingredient.name }}</h5>
                                {{ ingredient.phrase }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% if not category.children %}
                    <a href="#" class="list-group-item{% if not ingredient.enabled %} disabled{% endif %}">
                        <div class="media">
                            <span class="media-left media-meddle ingredient-logo">
                                <img src="/media/ingredients/none.png" />
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading">None Available</h5>
                                Sorry, but this category is empty
                            </div>
                        </div>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Ingredients</div>
                    <div class="panel-body">
                        Graphic goes here
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
